/* PROGRESS COMPLETE */
.progress {
    width: calc(100% / 5 * 0);
}

/* STYLE */
.progress-bar {
    background-color: darkgray;
    border-radius: 12px;
    margin: 15px 0px;
    height: 40px;
    width: 100%;    
}

.progress {
    background-color: #006631;
    border-radius: 12px;
    animation: progress-frames 15s ease infinite;
    height: 40px;
}

.progress p {
    padding: 10px 0px 10px 20px;
    color: white;
}


@keyframes progress-frames {
  0% {background-color: #006631;}
  16% {background-color: #007F08;}
  33% {background-color: #329900;}
  49% {background-color: #85B200;}
  66% {background-color: #329900;}
  83% {background-color: #007F08;}
  100% {background-color: #006631;}
}